@mobile: ~"(max-width: 500px)";
@tablet: ~"(max-width: 800px)";
@in-between: ~"(max-width: 681px)";
@special: ~"(max-width: 386px)";

@primary-white: rgb(242, 242, 242);
@primary-black: black;

@primary-font: "Prompt", sans-serif;
@secondary-font: "Source Serif Pro", serif;

@bgImg: linear-gradient(to right, #bbd2fe 0%, #bef7fe 100%);
@btn-radius: 4px;
